.journal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.journal > div:not(.tab) {
  padding: 2em 0;
}
.journal .tab {
  display: flex;
  padding-bottom: 1em;
  gap: var(--gap);
}
.journal .tab .tab-link {
  box-sizing: border-box;
  border: 0;
  padding: 0.25em 0;
  background: transparent;
  border-bottom: 2px solid transparent;
  color: var(--main-txt);
  cursor: pointer;
}
.journal .tab .tab-link.active {
  color: var(--point-color);
  border-bottom-color: var(--point-color);
}
.journal .post-list {
  max-width: 80%;
  width: 100%;
}
.journal .post-list .post-item {
  padding: 1.25rem 0;
  border-bottom: 1px solid #eee;
}
.journal .post-list .post-item .title {
  font-weight: 400;
}
.journal .post-list .post-item .preview {
  padding: 0.5em 0 0.875em;
  font-size: 1rem;
  font-weight: 300;
}
.journal .post-list .post-item .info {
  display: flex;
  justify-content: space-between;
}
.journal .post-list .post-item .info > p {
  color: #959595;
  font-size: 0.875rem;
  font-weight: 300;
  font-family: "Yellowtail", cursive;
}
.container > div.reading {
  padding: 2rem 0;
}
.reading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.reading .nav {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 100%;
}
.reading .nav .back {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  color: var(--main-txt);
  font-size: 1.875rem;
}
.reading .post-section {
  box-sizing: border-box;
  width: 100%;
}
.reading .post-section .top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3em 0 1.875em;
}
.reading .post-section .top > * {
  max-width: 80%;
  width: 100%;
}
.reading .post-section .title {
  padding-bottom: 1em;
  font-size: 2rem;
  font-weight: 700;
}
.reading .post-section .info {
  display: flex;
  justify-content: space-between;
}
.reading .post-section .info > p {
  color: #959595;
  font-size: 0.875rem;
  font-weight: 300;
  font-family: "Yellowtail", cursive;
}
.reading .content-section {
  padding: 2em 0;
  border-top: 1px solid #c8c8c8;
}
.reading .content-section .content {
  width: 80%;
  margin: 0 auto;
}
.my-masonry-grid_column .illust-thum {
  margin-bottom: var(--gap);
}
.journal .illust .illust-thum img {
  width: 100%;
}
@media all and (max-width: 767px) {
  .journal .post-list {
    max-width: 100%;
  }
  .reading .nav {
    padding: 0;
  }
  .reading .post-section .top > * {
    max-width: 100%;
  }
}
