.contact .contact-section {
  display: flex;
  padding: 2em 0;
  gap: 20px;
  width: 70%;
}
.contact .contact-method {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--gap);
}
.contact .contact-method > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border: 1px solid var(--main-txt);
  padding: 1rem 1.875rem;
  border-radius: 1rem;
  transition: all ease-in-out 0.3s;
  font-family: "Racing Sans One", cursive;
  transition: all ease-in-out 0.3s;
  color: var(--main-txt);
  text-align: center;
}
.contact .contact-method > a:hover {
  border-color: var(--point-color);
  color: var(--point-color);
}
.contact .contact-method > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact-method svg {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}
.contact .contact-section .contact-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--gap);
}
.contact .contact-section .contact-form input,
.contact .contact-section .contact-form textarea {
  width: 100%;
  background: transparent;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1px solid var(--main-txt);
  border-radius: 0.5em;
  resize: none;
  color: var(--main-txt);
}
.contact .contact-section .contact-form button {
  background: transparent;
  padding: 0.5em;
  border: 1px solid var(--main-txt);
  border-radius: 0.5em;
  font-family: "Racing Sans One", cursive;
  font-size: 1.25rem;
  width: 100%;
  transition: all ease 0.3s;
}
.contact .contact-section .contact-form button:hover {
  background: var(--point-color);
  border-color: transparent;
}
@media all and (max-width: 767px) {
  .contact .contact-section {
    flex-direction: column;
    width: 100%;
  }
  .contact .contact-section > * {
    width: 100%;
    margin: 0 auto;
  }
  .contact .contact-section .contact-form {
    margin-top: 2rem;
  }
}
