.my-masonry-grid_column .list-item {
  padding: 1em;
  border: 1px solid #dbdbdb;
  border-radius: 0.5em;
  margin-bottom: var(--gap);
}
.projects .list-item > * {
  padding: 0.25em 0;
}
.projects .list-item .thumnail {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.projects .list-item .thumnail img {
  width: 100%;
}
.projects .list-item .project-name {
  font-size: 1.25rem;
}
.projects .list-item .lang-keyword {
  display: flex;
  flex-wrap: wrap;
}
.projects .list-item .lang-keyword span {
  padding: 0.2em 0.35em;
  margin: 0 0.35em 0.35em 0;
  background: var(--main-txt);
  color: var(--main-bg);
  border-radius: 0.15em;
}
.projects .list-item .work span {
  margin-right: 0.25em;
}
.projects .list-item .work span:last-child::after {
  content: "";
}
.projects .list-item .work span::after {
  content: ",";
}
.projects .list-item .link-list {
  padding: 1rem 0;
}
.projects .list-item .link-list > * {
  margin-right: 0.35em;
  padding: 0.2em 0.35em;
  background: var(--main-txt);
  color: var(--main-bg);
  border-radius: 0.15em;
}
.projects .list-item .link-list a.active:hover {
  background: var(--point-color);
  color: var(--main-txt);
}
@media all and (max-width: 767px) {
  .projects .project-list .list-item {
    width: 100%;
  }
}
