@charset "UTF-8";
:root {
  --main-bg: #121212;
  --main-bg-two: #333;
  --main-bg-three: #555;
  --main-bg-four: #999;
  --main-txt: #fff;
  --main-btn: #2a2a2a;
  --sub-bg: #222;
  --point-color: #5caceb;
  --point-color-two: #e34747;
  --error-txt: #ffbf00;
  --gap: 10px;
  --gap-minus: -10px;
}
#root {
  height: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
body {
  color: var(--main-txt);
  background: var(--main-bg);
  transition: all ease 0.5s;
  line-height: 1.2;
}
a {
  color: var(--main-txt);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: var(--main-txt);
}
/* common */
.d-flex {
  display: flex;
}
/* masonry */
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: var(--gap-minus);
  width: auto;
}
.my-masonry-grid_column {
  padding-left: var(--gap);
  background-clip: padding-box;
}
.App {
  height: 100%;
  text-align: left;
}

.container-wrap {
  box-sizing: border-box;
  padding-left: 245px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  flex: 1;
  height: auto;
}
.container > div {
  box-sizing: border-box;
  padding: 2rem;
  min-height: 100%;
  height: auto;
}
.container > div.browser-notice {
  min-height: 0;
}
.browser-notice {
  display: flex;
  justify-content: flex-start;
}
.browser-notice button {
  margin-left: 1em;
  cursor: pointer;
}
.container > div > h3.title,
.container .about > div h3.title {
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  font-style: italic;
}
.error404 {
  width: 100%;
  height: 100%;
  background-image: url("./assets/404error.png");
  background-size: cover;
  background-position: center;
  color: var(--error-txt);
  font-size: 2vw;
  font-weight: 700;
}
@media all and (max-width: 767px) {
  .container-wrap {
    padding: 90px 40px;
  }
  .container > div {
    padding: 0.25rem;
  }
  .error404 {
    font-size: 4vw;
  }
}
